[Desktop Entry]
Type=Application
Name=Kwik Font
Comment=Browse, view, install, and print Linux fonts
Exec=kwik-font
Icon=preferences-desktop-font
Terminal=false
Categories=GTK;Graphics;Utility;
